.aqi-chart-wrap {
    height: 200px;
    margin-top: 10px;
}
.aqi-chart-wrap ul {
    height: 100%;
    padding: 20px 100px 0;
    border: 1px solid #C4C4C4;
    background-color: #ECECEC;
}
.aqi-chart-wrap ul li {
    height: 200px;
    display: table-cell;
    vertical-align: bottom;
}
.aqi-chart-wrap ul a { display: block; border: 1px solid #A49D9D;}
.aqi-chart-wrap ul a.sm { width: 10px; }
.aqi-chart-wrap ul a.md { width: 50px; }
.aqi-chart-wrap ul a.lg { width: 150px; }
.aqi-chart-wrap ul a.grade1 { background-color: #FBE37C; }
.aqi-chart-wrap ul a.grade2 { background-color: #FA8B8B; }
.aqi-chart-wrap ul a.grade3 { background-color: #82E3CB; }
.aqi-chart-wrap ul a.grade4 { background-color: #D497C8; }